%li.line-item
  = link_to "[+]", "#open-menu", :class => "open-menu"
  = link_to directory.title, directory, :class => "directory"
  = pluralize(directory.contents_count, "file")
  %ul.actions.list-item-menu
    %li= link_to "Rename", "#edit_directory_#{directory.id}_rename", :class => 'box-it'
    %li= link_to "Move Directory", "#edit_directory_#{directory.id}", :class => 'box-it' unless @user.top_level_directories.count == 1 and directory.parent_directory_id == nil
    %li= link_to 'Destroy', directory, :confirm => 'Are you sure?', :method => :delete

  = render 'directories/rename', :directory => directory, :user => @user
  = render 'directories/move', :directory => directory, :user => @user

