= content_for :head do
  = javascript_include_tag :ckeditor
= form_for @page, :validate => true do |f|
  = f.error_messages
  .item
    = f.label :active, "Show in Menu"
    = f.check_box :active
  .item
    = f.label :nav_link, "Name, navigation link"
    %br/
    = f.text_field :nav_link, :class => 'field'
    %br/
    = f.label :title, "Title, Window Title"
    %br/
    = f.text_field :title, :class => 'field'
    %br/
    = f.label :filename, "Filename, Found In The Url"
    %br/
    = f.text_field :filename, :class => 'field'
  .item
    = f.label :classes
    %br/
    = f.text_field :classes, :class => 'field'
  .item
    = f.label :keywords
    %br/
    = f.text_field :keywords, :class => 'field'
    %br/
    = f.label :description
    %br/
    = f.text_area :description, :class => 'field'
  .item
    %p= f.submit
