- title @newsletter.title

- content_tag :div, :class => "page_#{@newsletter.id}" do

  - heading @newsletter.title
  = @newsletter.title

  - if permitted_to? :manage, :newsletters
    %p
      = link_to "Edit", edit_newsletter_path(@newsletter)
      |
      = link_to "Destroy", @newsletter, :confirm => 'Are you sure?', :method => :delete
      |
      = link_to "View All", newsletters_path
