= content_for :head do
  = javascript_include_tag :ckeditor

- form_for @test_model_ugh, :validate => true do |f|
  = f.error_messages
  .item 
    = f.label :name
    %br
    = f.text_field :name, :class => 'field'
  .item
    = f.submit
