- title "Dashboard"


.sub-header
  .button-bar.clearfix
    .title Site Wide Administration
    
    .admin-links
      = link_to current_user.username, edit_dust_user_path(current_user), :class => '', :title => ""

  -#.kicker.clearfix
    -#%p
      -#%span.run-in Welcome to the administration section of your website.
      -#%br/
      -#From here, you can view, edit and delete any page in your website, add a new page or modify your list of keywords. Along with many other features.
      -#%br/
      -#%span.run-in Have Fun!
.content-wrapper
  = form_tag('/dust/dashboard/update') do
    .accordion
      - @options.each do |name, options|
        .index-item= link_to name.to_s.titleize, '#'
        .options
          - options.each do |k, v|
            .item
              = render 'dust/dashboard/options', :key => k, :value => v, :name => name
    .item
      = submit_tag
