- title @user.username

= render_region "content" do
  .eight.columns
    %h1 #{@user.username}'s Files
    %ul.list
      = render @user.top_level_account_files, :user => @user
      = render @user.top_level_directories
  .four.columns
    -#= link_to "New File",      '#new_account_file', :class => 'box-it'
    = link_to "How To Upload Files", "/how-to-upload-files.html", :id => "how-to-upload-files"
    = render 'directories/uploadify_init'
    .uploadify-form
      = link_to "Submit Account File", "#", :id => "upload-files", :class => "form-button"
      = link_to "Select Files", "#", :id => "select-files", :class => "form-button"
      = render 'account_files/form'
    = link_to "New Directory", "#new_directory", :id => "new-directory"
    .hide
      = render 'directories/form'


