%li.line-item
  = link_to "[+]", "#open-menu", :class => "open-menu"
  = link_to account_file.content_filename, "/account_files/#{account_file.id}/download.#{account_file.ext_name}", :class => account_file.ext_name
  %ul.actions.list-item-menu
    %li= link_to "Download", account_file.content.url
    %li= link_to "Rename", "#edit_account_file_#{account_file.id}_rename", :class => 'box-it'
    %li= link_to "Move File", "#edit_account_file_#{account_file.id}", :class => 'box-it'
    %li= link_to 'Destroy', account_file, :confirm => 'Are you sure?', :method => :delete
  .hide
    = render "account_files/move", :account_file => account_file, :user => user
    = render "account_files/rename", :account_file => account_file, :user => user