- heading @page.heading

= content_for :head do
  = GMap.header
  = @page.map.to_html


.contact-left.six.columns
  = render 'contacts/form'
.contact-right.six.columns
  .contact_page_content
    -# %h4= @page.heading
    = raw(@page.content)
  
.clear