= raw(block.body)
- @tweets = Tweet.recent(2)
- @newsletter = Newsletter.order("created_at").last
    
.posts.recent
  - @tweets.each do |tweet|
    .post.clearfix
      .photo
        = image_tag tweet.user.profile_image_url_https(:bigger), title: tweet.user.name
      .main
        .content
          = raw Rinku.auto_link(tweet.text, :all, 'target="_blank"') 
          = tweet.profile_image_url_https
.latest-newsletter
  .inner
    %h3 Latest Newsletter
    .title= link_to @newsletter.title, @newsletter.document.url
    %p
      = @newsletter.summary
      = link_to "Read More", @newsletter.document.url