.sub-header.solitary-header
  .button-bar.clearfix
    = render 'search'
    .admin-links
      = link_to "Delete Menu Item", @cms_menu_item, :confirm => "Are you sure?", :method => :delete

.form-wrap.clearfix
  = form_for @cms_menu_item do |f|
    = f.error_messages

    .fields-full
      .sub-header
        .title Admin Menu Item Fields
      .content-wrapper
        .item
          = f.label :title
          = f.text_field :title, :placeholder => "String For Link", :class => 'field'
          = f.label :controller_name
          = f.text_field :controller_name, :class => "field"
          = f.label :url
          = f.text_field :url, :placeholder => "Must begin with a '/'", :class => "field"
        .item
          = f.submit "Update Menu Item"
