- title "Admin Menu Items"

- content_for :left do
  = render :partial => 'roots'

.sub-header
  .button-bar.clearfix
    = render 'search'
    .admin-links
      = link_to('new admin menu item', new_dust_cms_menu_item_path, :class => 'newfile tip border', :title => "New Admin Menu Item")
      = link_to('order menu', '', :id => 'ordernav', :class => 'order tip', :title => "Save Menu Order")

.content-wrapper

  = will_paginate @cms_menu_item_list

  %ul#tree{'data-url' => '/dust/cms_menu/array'}
    - @cms_menu_item_list.each do |cms_menu_item|

      = content_tag :li, :id => dom_id(cms_menu_item), :class => 'index-item' do
        %div
          %span.handle &nbsp;
          .clearfix{:style => "float:right"}
            = link_to "", cms_menu_item, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
          = link_to cms_menu_item.title, edit_dust_cms_menu_item_path(cms_menu_item), :class => 'ui-icon	ui-icon-pencil edit tip', :title => "Edit This Item"

  = will_paginate @cms_menu_item_list
