- title "Admin Menu Item"
%p
  %strong Title:
  = h @cms_menu_item.title
%p
  %strong Url:
  = h @cms_menu_item.url
%p
  = link_to "Edit", edit_cms_menu_item_path(@cms_menu_item)
  |
  \#{link_to "Destroy", @cms_menu_item, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", cms_menu_items_path}
