- title "Refinance Orders" 

.button_bar
  = render :partial => 'search'
  = link_to 'new page', new_refinance_order_path, :class => 'newfile tip', :title => "New Refinance Order"

= will_paginate @refinance_orders

- @refinance_orders.each do |refinance_order|
  .item
    .ui-widget.ui-helper-clearfix{:style => 'float:right'}
      = link_to '', edit_refinance_order_path(refinance_order), :class => 'ui-icon	ui-icon-pencil edit tip', :title => "Edit This Item"
      = link_to '', refinance_order, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

    %h3= link_to "Order for #{refinance_order.property_address} by #{refinance_order.user.proper_name}", refinance_order
    %p
      = link_to "Preview Refinance Order", refinance_order, :class => 'remote_iframe'

= will_paginate @refinance_orders 
