- title "Refinance Order"

.item

  .ui-widget.ui-helper-clearfix{:style => "float:right"}
    =link_to '', edit_refinance_order_path(@refinance_order), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
    =link_to "", @refinance_order, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

  %h3= link_to "Order for #{@refinance_order.property_address} by #{@refinance_order.user.proper_name}", @refinance_order

  %p
    %strong Mortgage Amount:
    = @refinance_order.mortgage_amount
  %p
    %strong Owners Names:
    = @refinance_order.owners_names
  %p
    %strong Property Address:
    = @refinance_order.property_address
  %p
    %strong Need By Date:
    = @refinance_order.need_by_date
  %p
    %strong Do you have a prior title?:
    = @refinance_order.have_prior_title
  %p
    %strong Additional Info:
    = @refinance_order.additional_info
  = render 'users/order_info', order: @refinance_order
