= stylesheet( 'dust_album','album_uploadify') 

- form_for @album, :validate => true do |f| 
  = f.error_messages 
  .item
    %p
      = f.label :active 
      = f.check_box :active 
  .item
    %p
      = f.label :nav, "Navigation Link" 
      %br/
      = f.text_field :nav, :class => 'field' 
  .item
    %p
      = f.label :title 
      %br/
      = f.text_field :title, :class => 'field' 
  .item
    %p
      = f.label :heading 
      %br/
      = f.text_field :heading, :class => 'field' 
  .item
    %p
      = f.label :filename 
      %br/
      = f.text_field :filename, :class => 'field' 
  .item
    %p
      = f.label :desc 
      %br/
      = f.text_area :desc, :class => 'field' 
  .item
    %p= f.submit
