
= javascript_include_tag "uploadify/swfobject", "uploadify/jquery.uploadify.v2.1.0" 
- session_key = Rails.application.config.session_options[:key] 

%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function() {
  $('#photo_file').click(function(event) {
  event.preventDefault();
  });

  $('#photo_file').uploadify({
  'uploader'    : '/javascripts/uploadify/uploadify.swf',
  'script'      : '/photos',
  'multi'       : true,
  'auto'        : false,
  'buttonText'  : 'Find',
  'buttonImg'   : '/images/browse.png',
  'cancelImg'   : '/images/cancel.png',
  'wmode'       : 'transparent',
  height        : 26, // The height of the flash button
  width         : 101, // The width of the flash button
  onComplete : function(event, queueID, fileObj, response, data) { var dat = eval('(' +
  response + ')');$.getScript(dat.photo);},
  scriptData: {
  '_http_accept': 'application/javascript',
  'format' : 'json',
  '_method': 'post',
  '#{session_key}' : encodeURIComponent('#{u cookies[session_key]}'),
  'authenticity_token': encodeURIComponent('#{ u form_authenticity_token }'),
  'album_id' : '#{ @album.id} '
  }
  });

  $('#photo_submit').click(function(event){
  event.preventDefault();
  $('#photo_file').uploadifyUpload();
  });
  });

