- title "Albums" 
- heading "Albums" 

- content_for :head do 
  = javascript_include_tag 'dragsort', 'dust_album'

= stylesheet( 'dust_album','album_uploadify')
.button_bar
  = render :partial => 'search'
  = link_to('new album', new_album_path, :class => 'newfile tip', :title => "New Album")
  = link_to('order nav', '', :id => 'order_items', :class => 'ordernav tip orderpages', :title => "Save Album Order")
%div{:class => "photolist"}
  %p 
    Drag the albums to reorder them. Don't forget to hit the save order button when your done.
  = will_paginate @albums
  %ul{:class => "sortable albums"}
    - @albums.each do |album|
      %li{:class => cycle('odd', 'even'), :id => "album_#{album.id}"}
        %div
          .image
            - unless album.photos.empty?
              -  @photo = album.photos.find(:first)
              = image_tag(@photo.file.url(:thumb))
          .title
            = album.title
          .date
            Created On:
            = album.created_at.strftime("%B %d %Y")
          .ui-widget.ui-helper-clearfix{:style => "float:right"}
            = link_to "", edit_album_path(album), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
            = link_to "", album, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
            = link_to "", album, :class => 'ui-icon ui-icon-image manage_photos tip', :title => "Manage Photos"
.clear
= will_paginate @albums

