= stylesheet_link_tag( 'dust_album','album_uploadify')

%script{:charset => "utf-8", :type => "text/javascript"}
  $(document).ready(function() {
  $(function () { // this line makes sure this code runs on page load
  $('.checkall').click(function () {
  $(this).parents('form:eq(0)').find(':checkbox').attr('checked', this.checked);
  });
  });
  });

#photolist
  %h1= link_to @album.title, album_path(@album)

  = form_tag '/destroy-photos' do 

    %table{:class => "photos"}
      %tr{:style => 'color:#222;'}
        %th
        %th
        %th
          File Name
        %th
          File Size
        %th
          Created At
        - @album.photos.each do |photo| 
          %tr{:class => cycle('odd', 'even')}
            %td
              = check_box_tag "photo_ids[]", photo.id 
            %td
              =  image_tag(photo.file.url(:thumb), :height => "60")

              %div{:style => "display:none"}
                %div{:class => photo.id}
                  = image_tag(photo.file.url(:original))
            %td
              = photo.file_file_name
            %td
              = number_to_human_size(photo.file_file_size)
            %td
              = photo.created_at.to_s(:m_d_y)
        %tr{:class => 'odd'}
          %td{ :colspan => '5'}
            = check_box_tag 'photos', 'yes', false, :class => 'checkall'
            Check all
            = submit_tag "Delete checked"
