- title h(@album.title) 

= stylesheet( 'dust_album','album_uploadify')

- content_for :head do 
  = javascript_include_tag 'dragsort', 'dust_album'

= render :partial => "upload_script"

.item
  .ui-widget.ui-helper-clearfix{:style => "float:right"}
    = link_to "", edit_album_path(@album), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
    = link_to "", @album, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

  %h1= link_to @album.title, view_album_path(@album.filename)
  = simple_format(h(@album.desc))

.item
  .manage
    %br/
    = link_to image_tag('save_position.png'), photos_path, :id => 'order_items'
  %h3{:id => "photos_count"}
    = pluralize(@album.photos.size, "Photo")
    - unless @album.photos.empty? 
      |
      = link_to "Select Photos For Deletion", manage_photos_path(@album, :format => 'html'), :class => 'settings'
  %p
    Drag photos to reorder them. Don't forget to hit the save order button when your done.
  %ul{:class => "sortable photos"}
    = render :partial => @album.photos.roots, :photo => @photo
  .clear

- content_for :left do

  #uploadify
    %h3 Add Photos to #{ @album.title.titleize}
    - form_for @new_photo, :html => {:multipart => true} do |f|
      = f.hidden_field :album_id, :value => @album.id
      .uploadifyButtons
        = image_submit_tag "upload.png", :id => "photo_submit", :name => 'commit'
        = f.file_field :file
        .clear
