- title "Letter Report Orders" 

.button_bar
  = render :partial => 'search'
  = link_to 'new page', new_letter_report_order_path, :class => 'newfile tip', :title => "New Letter Report Order"

= will_paginate @letter_report_orders

- @letter_report_orders.each do |letter_report_order|
  .item
    .ui-widget.ui-helper-clearfix{:style => 'float:right'}
      = link_to '', edit_letter_report_order_path(letter_report_order), :class => 'ui-icon	ui-icon-pencil edit tip', :title => "Edit This Item"
      = link_to '', letter_report_order, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

    %h3= link_to "Order for #{letter_report_order.property_address} by #{letter_report_order.user.proper_name}", letter_report_order
    %p
      = link_to "Preview Letter Report Order", letter_report_order, :class => 'remote_iframe'

= will_paginate @letter_report_orders 
