.block{ :id => "#{block.title.parameterize}", :class => "#{block.classes}" }
  .block-inner
    .block-content
      - if !block.partial_name.blank?
        - begin
          = render :partial => "dust/blocks/widgets/#{block.partial_name}", :locals => { :block => block }
        - rescue
          - if logged_in?
            Error: Content not found or malfunctioning. Please notify the site administrator.
          - else
            &nbsp;
      - else
        = render :partial => "dust/blocks/normal_block_content", :locals => { :block => block }
      - if permitted_to? :manage, :blocks
        .edit-link
          = link_to edit_icon("Block <br/>'#{block.title}'"), edit_dust_block_path(block, :return => request.fullpath), :class => "to-admin"
