- title "Block"
.item
  .ui-widget.ui-helper-clearfix{:style => "float:right"}
    = link_to "", edit_dust_block_path(@block), :class => 'ui-icon	ui-icon-pencil edit tip', :title => "Edit This Item"
    = link_to "", @block, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
  %h3= link_to @block.title, @block
  %p
    = link_to "Preview Block", @block, :class => 'remote_iframe'
  %p
    %strong Title:
    = @block.title
  %p
    %strong Body:
    = @block.body
  %p
    %strong Where To Show:
    = @block.where_to_show
  %p
    %strong Show:
    = @block.show
