- title "Real Estate Sale Order"

.item

  .ui-widget.ui-helper-clearfix{:style => "float:right"}
    =link_to '', edit_real_estate_sale_order_path(@real_estate_sale_order), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
    =link_to "", @real_estate_sale_order, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

  %h3= link_to "Order for #{@real_estate_sale_order.property_address} by #{@real_estate_sale_order.user.proper_name}", @real_estate_sale_order
  
  
  
  
  #real_estate_cms
    - reso = @real_estate_sale_order
  
    .twelve.columns.alpha.omega
      %h5 Transfer Information
      .six.columns.alpha.omega
        .item 
          %strong Sales Price
          %br
          = reso.sales_price
      .optional-fields
        .six.columns.alpha.omega
          .item 
            %strong Type of transfer
            %br
            = reso.transfer_type
    %hr/
    .twelve.columns.alpha.omega
      %h5 Property Information
      .six.columns.alpha.omega
        .item 
          %strong Property Address
          %br
          = reso.property_address
        .item 
          %strong Type of water
          %br
          = reso.water_type
        
        .optional-fields
          .item 
            %strong Type of heat
            %br
            = reso.property_heat_type
          .item 
            %strong Current heat value
            %br
            = reso.property_heat_value
          .item 
            %strong Type of sanitation
            %br
            = reso.property_sanitation_type
          .item 
            %strong Repair/Inspection Fees?
            = reso.property_repair_inspection_fees
          .item 
            %strong DILHR Weatherization
            %br
            = reso.property_weatherization
          .item 
            %strong Type of Property
            %br
            = reso.property_type
          
          .item 
            %strong Association name
            %br
            = reso.property_condominium_association_name
          .item 
            %strong Association contact name
            %br
            = reso.property_condominium_contact_name
          .item 
            %strong Association address
            %br
            = reso.property_condominium_contact_address
          .item 
            %strong Association phone
            %br
            = reso.property_condominium_contact_phone
      
      .six.columns.alpha
        .optional-fields
          %strong If multi-family, please complete the following:
          .item 
            %strong Number of Units
            %br
            = reso.property_multifamily_units
        
          %h6 Upper:
          = #render 'real_estate_sale_orders/unit_subform', :f => f, :unit => 'upper'
          %h6 Lower:
          = #render 'real_estate_sale_orders/unit_subform', :f => f, :unit => 'lower'
      
        
    %hr/
    .twelve.columns.alpha
      %h5 Seller Information
      .six.columns.alpha
        .item 
          %strong= "Owners' names"
          %br
          = reso.owners_names
        .optional-fields
          .item 
            %strong Is seller related to the buyer?
            = reso.seller_is_related
          .item 
            %strong= "Sellers' marital status"
            %br
            = reso.seller_marital_status
          .item 
            %strong New Address (if currently homestead)
            %br
            = reso.new_address
      .optional-fields
        .six.columns.alpha
          .item 
            %strong= "Is this the seller's primary residence?"
            = reso.seller_is_primary_residence
          .item 
            %strong Seller phone number
            %br
            = reso.seller_phone_number
          .item
            %strong= "Seller's current loan information (lender names, phone numbers, loan numbers)"
            %br
            = reso.seller_current_loan_information
    %hr/
    .six.columns.alpha
      %h5 Buyer Information
    
      .item 
        %strong= "Buyers' lender"
        %br
        = reso.buyers_lender
      .item 
        %strong Contact Person
        %br
        = reso.contact_person
      .item 
        %strong Lender Address
        %br
        = reso.lender_address
      .item 
        %strong Lender Phone
        %br
        = reso.lender_phone
      .item 
        %strong Lender Fax
        %br
        = reso.lender_fax
      .item 
        %strong Lender Email
        %br
        = reso.lender_email
    .six.columns.alpha
      .item 
        %strong= "Buyers' names"
        %br
        = reso.buyers_names
      .optional-fields
        .item 
          %strong= "Buyers' marital status"
          %br
          = reso.buyers_marital_status
        .item 
          %strong= "Will this be the buyers' primary residence?"
          = reso.buyer_is_primary_residence
      .item 
        %strong= "Buyers' financing type"
        %br
        = reso.buyers_financing
      .item 
        %strong= "Do you have a prior title?"
        = reso.prior_title
      .item 
        %strong= "GAP Endorsement?"
        = reso.gap_endorsement
      .item 
        %strong= "When would you like a title commitment by?"
        %br
        = reso.need_by_date
      .item 
        %strong= "Copies and Notes"
        %br
        = reso.copies_to
    .optional-fields.twelve.columns.alpha.omega
      %hr/
      %h5 Commission Agreement
      .six.columns.alpha
        .item 
          %strong % Total commission
          %br
          = reso.commission_total_percent
        .item 
          %strong % Listing broker
          %br
          = reso.commission_listing_broker
        .item 
          %strong % Selling broker
          %br
          = reso.commission_selling_broker
      .six.columns.alpha
        .item 
          %strong Earnest $
          %br
          = reso.commission_earnest
        .item 
          %strong Who has earnest $?
          %br
          = reso.commission_who_has_earnest
        .item 
          %strong Is the earnest money deducted from the commission?
          = reso.commission_is_earnest_money_deducted
    %hr/
    .twelve.columns.alpha
      .six.columns.alpha
        .item 
          %h5 User Information
          = render 'users/order_info', order: @real_estate_sale_order
      .optional-fields
        .six.columns.alpha
          %h5 Closing Information
          .item 
            %strong Tentative Closing Date
            %br
            = reso.tentative_closing_date
          .item 
            %strong Closing Location
            %br
            = reso.closing_location
  
  
  
  
  
  



  %p
    %strong Sales Price:
    = @real_estate_sale_order.sales_price
  %p
    %strong Owners Names:
    = @real_estate_sale_order.owners_names
  %p
    %strong Property Address:
    = @real_estate_sale_order.property_address
  %p
    %strong Water Type:
    = @real_estate_sale_order.water_type
  %p
    %strong Buyers Names:
    = @real_estate_sale_order.buyers_names
  %p
    %strong Buyers Lender:
    = @real_estate_sale_order.buyers_lender
  %p
    %strong Contact Person:
    = @real_estate_sale_order.contact_person
  %p
    %strong Lender Address:
    = @real_estate_sale_order.lender_address
  %p
    %strong Lender Phone:
    = @real_estate_sale_order.lender_phone
  %p
    %strong Lender Fax:
    = @real_estate_sale_order.lender_fax
  %p
    %strong Lender Email:
    = @real_estate_sale_order.lender_email
  %p
    %strong Prior Title:
    = @real_estate_sale_order.prior_title
  %p
    %strong Gap Endorsement:
    = @real_estate_sale_order.gap_endorsement
  %p
    %strong Need By Date:
    = @real_estate_sale_order.need_by_date
  %p
    %strong Copies To:
    = @real_estate_sale_order.copies_to
  %p
    %strong Provide Closing Deed And Transfer:
    = @real_estate_sale_order.provide_closing_deed_and_transfer
  %p
    %strong Tentative Closing Date:
    = @real_estate_sale_order.tentative_closing_date
  %p
    %strong Closing Location:
    = @real_estate_sale_order.closing_location
  = render 'users/order_info', order: @real_estate_sale_order
