- title @album.title
- heading @album.heading

- content_for :head do
  = stylesheet_link_tag 'dust_album_app'

= @album.desc

= will_paginate @photos

%ul{:class => "columns"}
  - @photos.each do |photo|
    %li
      - link_to photo.file.url(:large), :class => 'group', :alt => photo.title, :rel => "#{@album.title}" do
        = image_tag photo.file.url(:thumb), :alt => photo.desc, :class => "shadowed"
      .info
        %h3{:class => "title"}
          = truncate photo.title
        %p{:class => "desc"}
          = photo.desc
.clear
= will_paginate @photos

- if permitted_to? :manage, :albums
  %p
    = link_to "Manage Photos", @album 
    |
    = link_to "Edit", edit_album_path(@album)
    |
    = link_to "Destroy", @album, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", albums_path
