- title "Photo"

= stylesheet( 'dust_album','album_uploadify')

%p
  %strong Title:
  = @photo.title

%p
  %strong Desc:
  = @photo.desc
%p
  %strong Date Shot:
  = @photo.date_shot
%p
  %strong Location:
  = @photo.location
%p
  = link_to "Edit", edit_photo_path(@photo)
  |
  = link_to "Destroy", @photo, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", photos_path %>

