<%= form_for @batch do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :submisison_id %><br />
    <%= f.text_field :submisison_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
