= form_for @post, validate: true, html: { multipart:true } do |f|
  = hidden_field_tag :return, params[:return]
  = f.error_messages
  .item 
    = f.label :published
    = f.check_box :published, :class => 'field'
  .item
    = f.label :published_at
    %br
    = datetime_select("post", "published_at")
  .item 
    = f.label :share, "Add to RSS feed (social media integration)"
    = f.check_box :share, :class => 'field'
  .item 
    = f.label :title
    %br
    = f.text_field :title, :class => 'field'
  .item 
    = f.label :image
    %br/
    = f.file_field :image, :class => 'field'
    - if @post.image
      .image-preview
        %strong Current Image:
        %br/
        = image_tag @post.image_url(:thumb)
        = @post.image
    
    
  .item 
    = f.cktext_area("content", :width => '98%', :height => '400px')
  .item
    = f.submit
