- user = order.user
- date = order.created_at || Time.now

%p
  %strong Created On:
  = date.strftime('%m/%d/%Y')
%p
  %strong Name:
  = user.proper_name
%p
  %strong Company:
  = user.company
%p
  %strong Address:
  = user.address
%p
  %strong Phone:
  = user.phone
%p
  %strong Fax:
  = user.fax