= content_for :head do
  = javascript_include_tag :ckeditor
= form_for @page, :validate => true do |f|
  = f.error_messages
  .item
    = f.label :active, "Show in Menu"
    = f.check_box :active
  .item
    = f.label :meta_title, "Title, Window Title"
    %br/
    = f.text_field :meta_title, :class => 'field'
    %br/
    = f.label :meta_description
    %br/
    = f.text_area :meta_description, :class => 'field'
  .item
    = f.label :nav_link, "Name, navigation link"
    %br/
    = f.text_field :nav_link, :class => 'field'
    %br/
    = f.label :filename, "Filename, Found In The Url"
    %br/
    = f.text_field :filename, :class => 'field'
  .item
    = f.label :classes
    %br/
    = f.text_field :classes, :class => 'field'
  .sections
    - @page.sections.each_with_index do |section, index|
      .item
        = hidden_field_tag "sections[#{section.id}][_destroy]"
        = text_field_tag "sections[#{section.id}][title]", section.title
        = text_field_tag "sections[#{section.id}][classes]", section.classes
        = text_field_tag "sections[#{section.id}][position]", section.position
        = link_to "Remove Section", "#", :class => "remove_fields"
  = link_to "Add Section", "#", :class => "add_fields"
  %script{:type => "text/templte", :id => "placeholder-section"}
    .item
      = hidden_field_tag "sections[section_id][_destroy]"
      = text_field_tag "sections[section_id][title]"
      = text_field_tag "sections[section_id][classes]"
      = text_field_tag "sections[section_id][position]"
      = link_to "Remove Section", "#", :class => "remove_fields"
  .item
    %p= f.submit
