= content_for :head do
  = javascript_include_tag :ckeditor

- form_for @testimonial, :validate => true do |f|
  = hidden_field_tag :return, params[:return]
  = f.error_messages
  .item 
    = f.label :quote
    %br
    = f.text_area :quote, :class => 'field'
  .item 
    = f.label :attribution
    %br
    = f.text_field :attribution, :class => 'field'
  - if permitted_to? :approve, :testimonials
    .item 
      = f.label :approved
      %br
      = f.check_box :approved, :class => 'field'
  .item
    = f.submit "Submit Your Testimonial"
