!!!
%html
  %head
    %title= h(yield(:title) || "Dust CMS")
    = stylesheet_link_tag 'cms'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag 'cms'
    = csrf_meta_tag
    = yield(:head)
  %body
    #header
      = yield(:header)
      %ul
        %li= link_to 'Dashboard', dust_dashboard_path
        %li= link_to "Log Out", dust_logout_path
    #wrapper1
      #rightcol
        - if logged_in?
          %ul#nav
            = render :partial => 'layouts/cms_partials/nav'
        = yield(:right)
      #centercol
        - if show_title?
          %h2= h yield(:heading)
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "flash_#{name}"
        = yield
      #footer
        .logo
          = link_to image_tag("smallogo.png", :height => "50", :alt => "Dust CMS | The Super Simple CMS"), "/images/dustlogo.png", :class => "smallogo"

