!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= h(yield(:title) || "Dust")
    = stylesheet_link_tag 'login'
    = javascript_include_tag 'login'
    = yield(:head)
  %body
    #header
      .logo
        = image_tag("smallogo.png", :height => "50", :alt => "Dust CMS | The Super Simple CMS")
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
